<nav class="row justify-content-center mt-lg">
    <div>
        <button class="btn red-btn">Editar mi perfil</button>
        <button [routerLink]="['routine']" class="btn red-btn">MI RUTINA</button>
  
        <a [routerLink]="['students']"class="btn red-btn">ALUMNOS</a>
       
        <a [routerLink]="['exercises']" class="btn red-btn">EJERCICIOS</a>
        <button class="btn red-btn">Crear rutina</button>
        <button class="btn red-btn">Ver rutinas</button>
    </div>
</nav>
<!--public id                 : number,
        public name               : string="",
        public surname            : string="",
        public weight             : number=0,
        public age                : number=0,
        public gender             : string="",
        public level              : string="",
        public sport              : string="",
        public profession         : string="",
        public drug               : string="",
        public limitation         : string="",
        public prescription       : string="",
        public phone              : number-->

<ng-template #editStudentModal let-modal>
    <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
    
      <form class="row" action="">
            <input class="red-btn" type="text" placeholder=" nombre">
            <input class="red-btn" type="text" placeholder=" apellido">
            <input class="red-btn" type="number" placeholder=" peso">
            <input class="red-btn" type="text" placeholder=" edad">
            <input class="red-btn" type="text" placeholder=" genero">
            <input class="red-btn" type="text" placeholder=" edad">

            <button type="submit" class="red-btn">LISTO</button>
    </form>
</ng-template> 


<!--    
        public muscleGroup       : string,
        public name              : string="",
        public difficulty        : number,
        public tipsUrl           : string="",
        public imgUrl            : string="",
        public gender            : string="",
        public id?               : string-->


