<nav class="row justify-content-center mt-lg">
    <div>
       <!--<button class="btn red-btn ml-sm">Editar mi perfil</button>
        <button [routerLink]="['routine']" class="btn red-btn ml-sm">MI RUTINA</button>--> 
  
        <button [routerLink]="['students']"class="btn red-btn ml-sm">ALUMNOS</button>
        <button [routerLink]="['exercises']" class="btn red-btn ml-sm">EJERCICIOS</button>
        <button [routerLink]="['plans']" class="btn red-btn ml-sm">PLANES</button>
        
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
              Log out
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button (click)="auth.loginWithRedirect()">Log in</button>
          </ng-template>
          <ul *ngIf="auth.user$ | async as user">
            <li>{{ user.name }}</li>
            <li>{{ user.email }}</li>
          </ul>
    </div>
</nav>
<!--public id                 : number,
        public name               : string="",
        public surname            : string="",
        public weight             : number=0,
        public age                : number=0,
        public gender             : string="",
        public level              : string="",
        public sport              : string="",
        public profession         : string="",
        public drug               : string="",
        public limitation         : string="",
        public prescription       : string="",
        public phone              : number-->

<ng-template #editStudentModal let-modal>
    <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
    
      <form class="row" action="">
            <input class="red-btn" type="text" placeholder=" nombre">
            <input class="red-btn" type="text" placeholder=" apellido">
            <input class="red-btn" type="number" placeholder=" peso">
            <input class="red-btn" type="text" placeholder=" edad">
            <input class="red-btn" type="text" placeholder=" genero">
            <input class="red-btn" type="text" placeholder=" edad">

            <button type="submit" class="red-btn">LISTO</button>
    </form>
</ng-template> 


<!--    
        public muscleGroup       : string,
        public name              : string="",
        public difficulty        : number,
        public tipsUrl           : string="",
        public imgUrl            : string="",
        public gender            : string="",
        public id?               : string-->


