<section class="container mt-lg">
  <h2 class="text-title">ALUMNOS <button (click)="open(addStudentModal)" class="btn red-btn">+</button></h2>
  <div class="table-responsive mt-md">
     <table class="table table-dark">
         <thead>
           <tr>
             <th scope="col">NOMBRE</th>
             <th scope="col">APELLIDO</th>
             <th scope="col">EDAD</th>
             <th scope="col">ACCIONES</th>  
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let student of this.studentList">
             <!--<th scope="row" [textContent]=exercise.id></th>-->
            
             <td>{{student.name}}</td>
             <td>{{student.surname}}</td>
             <td>{{getAge(student.age)}}</td>
  
             <td> 
              <button (click)="this.deleteStudent(student)" class="btn red-btn ml-sm">X</button>
              <button (click)="this.studentToEdit=student;this.createEditStudentForm();open(editStudentModal)" class="btn red-btn ml-sm">E</button> 
              <button (click)="this.studentToView=student;open(viewStudentModal)" class="btn red-btn ml-sm">VER</button>
              <a [routerLink]="['/routine',student.id]" class="btn red-btn ml-sm">VER RUTINA</a>
              <a [routerLink]="['/pays',student.id]" class="btn red-btn ml-sm">VER CUOTAS</a>
          </td>

          <ng-template #viewStudentModal let-modal>
  
            <div style="background-color:black">
              <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">CERRAR</button>
              <h3 class="text-title" style="background-color: black;">{{this.studentToView.name}} {{this.studentToView.surname}}</h3>
              <div class="table-responsive">
                <table class="table table-dark">
                  <hr>
                  <tr>
                    <td>PESO: </td>
                    <td>{{this.studentToView.weight}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td> EDAD: </td>
                    <td>{{this.studentToView.age}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>DEPORTE: </td>
                    <td>{{this.studentToView.sport}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>PROFESION: </td>
                    <td>{{this.studentToView.profession}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>DROGAS/MEDICAMENTOS: </td>
                    <td>{{this.studentToView.drug}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>LIMITACIONES: </td>
                    <td>{{this.studentToView.limitation}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>PEPRESCRIPCIONES MEDICAS: </td>
                    <td>{{this.studentToView.prescription}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>TELEFONO: </td>
                    <td>{{this.studentToView.phone}}</td>
                  </tr>
                  <hr>
                 <!-- <tr>
                    <td>FECHA DE INGRESO: </td>
                    <td>{{this.studentToView.entryDate}}</td>
                  </tr>
                  <hr>
                  <tr>
                    <td>FECHA DE PAGO: </td>
                    <td>{{this.studentToView.payDate}}</td>
                  </tr>
                  <hr>-->
                </table>
           
                <a [routerLink]="['/routine',student.id]" (click)="modal.dismiss('Cross click')" class="btn red-btn ml-sm">VER RUTINA</a>
               <!--asignar o ver rutina segun sea el caso-->
            </div>
          </div>
          </ng-template> 

           </tr>
         
         </tbody>
       </table>
     </div>
 </section>
 
  <ng-template #addStudentModal let-modal>
     <h3 class="text-title" style="background-color: black;">AGREGANDO ALUMNO</h3>
       <form class="row" [formGroup]="addStudentForm" (ngSubmit)="saveAddStudent()">
         <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
         
         <input formControlName="stuToAddName" class="red-btn h-lg" type="text" placeholder=" nombre/s">
         <input formControlName="stuToAddSurname" class="red-btn h-lg" type="text" placeholder=" apellido/s">
         <input formControlName="stuToAddWeight" class="red-btn h-lg" type="text" placeholder=" peso">
         <input formControlName="stuToAddAge" class="red-btn h-lg" type="date" placeholder=" fecha de nacimiento">
         <select class="red-btn h-lg" formControlName="stuToAddGender">
            <option value="" selected disabled hidden>genero</option>
            <option *ngFor="let gender of this.genderList">
                {{gender}}
            </option>
         </select>
         <select class="red-btn h-lg" formControlName="stuToAddLevel">
             <option value="" selected disabled hidden>experiencia en gimnasios</option>
             <option *ngFor="let level of this.levelList">
                 {{level}}
             </option>
         </select>
         <input formControlName="stuToAddSport" class="red-btn h-lg" type="text" placeholder=" practica algun deporte?">
         <input formControlName="stuToAddProfession" class="red-btn h-lg" type="text" placeholder=" profesion">
         <input formControlName="stuToAddDrug" class="red-btn h-lg" type="text" placeholder=" drogas o medicamentos">
         <input formControlName="stuToAddLimitation" class="red-btn h-lg" type="text" placeholder=" limitaciones fisicas">
         <input formControlName="stuToAddPrescription" class="red-btn h-lg" type="text" placeholder=" prescripciones medicas">
         <input formControlName="stuToAddPhone" class="red-btn h-lg" type="text" placeholder=" telefono">
         <textarea formControlName="stuToAddComents" class="red-btn h-lg" type="text" placeholder=" comentarios"></textarea>

         <button *ngIf="(
                          !validStuToAddName 
                          && !validStuToAddSurname 
                          && !validStuToAddWeight 
                          && !validStuToAddAge 
                          && validStuToAddGender 
                          && validStuToAddLevel
                          && !validStuToAddSport  
                          && !validStuToAddProfession
                          && !validStuToAddDrug
                          && !validStuToAddLimitation
                          && !validStuToAddPrescription
                          && !validStuToAddPhone
                          
                        )" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
     </form>
 </ng-template> 
 
 <ng-template #editStudentModal let-modal>
  <h3 class="text-title" style="background-color: black;">EDITANDO ALUMNO</h3>
    <form class="row" [formGroup]="editStudentForm" (ngSubmit)="saveEditStudent()">
      <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
      
      <input formControlName="stuToEditName" class="red-btn h-lg" type="text" placeholder=" nombre/s">
      <input formControlName="stuToEditSurname" class="red-btn h-lg" type="text" placeholder=" apellido/s">
      <input formControlName="stuToEditWeight" class="red-btn h-lg" type="text" placeholder=" peso">
      <input formControlName="stuToEditAge" class="red-btn h-lg" type="date" placeholder=" fecha de nacimiento">
      <select class="red-btn h-lg" formControlName="stuToEditGender">
        <option value="" selected disabled hidden>genero</option>
        <option *ngFor="let gender of this.genderList">
            {{gender}}
        </option>
     </select>

      <select class="red-btn h-lg" formControlName="stuToEditLevel">
          <option value="" selected disabled hidden>experiencia en gimnasios</option>
          <option *ngFor="let level of this.levelList">
              {{level}}
          </option>
      </select>
      <input formControlName="stuToEditSport" class="red-btn h-lg" type="text" placeholder=" practica algun deporte?">
      <input formControlName="stuToEditProfession" class="red-btn h-lg" type="text" placeholder=" profesion">
      <input formControlName="stuToEditDrug" class="red-btn h-lg" type="text" placeholder=" drogas o medicamentos">
      <input formControlName="stuToEditLimitation" class="red-btn h-lg" type="text" placeholder=" limitaciones fisicas">
      <input formControlName="stuToEditPrescription" class="red-btn h-lg" type="text" placeholder=" prescripciones medicas">
      <input formControlName="stuToEditPhone" class="red-btn h-lg" type="text" placeholder=" telefono">
      <textarea formControlName="stuToEditComent" class="red-btn h-lg" type="text" placeholder=" comentarios"></textarea>
      

      <button *ngIf="(
                       !validStuToEditName 
                       && !validStuToEditSurname 
                       && !validStuToEditWeight 
                       && !validStuToEditAge
                       && !validStuToEditSport 
                       && !validStuToEditProfession
                       && !validStuToEditDrug
                       && !validStuToEditLimitation
                       && !validStuToEditPrescription
                       && !validStuToEditPhone
                     )" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
  </form>
</ng-template> 


