 
 <section class="container mt-lg">
 <h2 class="text-title">EJERCICIOS 
    <button (click)="open(addExerciseModal)" class="btn red-btn">AGREGAR</button>
    <div class="mt-sm">
        <input #searchInput style="width: 6em;" type="text" class="red-btn ml-sm">
        <button (click)="search(searchInput.value)" class="btn red-btn ml-sm">BUSCAR</button>
        <button (click)="reload()" class="btn red-btn ml-sm">RESTABLECER</button>
    </div>
</h2>
 
 <div class="table-responsive mt-md">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">MUSCULOS</th>
            <th scope="col">DIFICULTAD</th>
            <th scope="col">ACCIONES</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exercise of this.exerciseList;let i = index">
            <!--<th scope="row" [textContent]=exercise.id></th>-->
            
            <td [textContent]=exercise.name></td>
            <td [textContent]=exercise.muscleGroup></td>
            <td [textContent]=exercise.difficulty></td>
            <td> 
                <button (click)="this.exerciseToEdit=exercise;this.createEditExerciseForm();open(editExerciseModal)" class="btn red-btn mt-sm">E</button> 
                <button (click)="this.deleteExercise(exercise,i)" class="btn red-btn ml-sm mt-sm">X</button>
                <button (click)="this.exerciseToView=exercise;open(viewExerciseModal)" class="btn red-btn ml-sm mt-sm">VER</button>
            </td>
          </tr>
        
        </tbody>
      </table>
    </div>
</section>

 <ng-template #addExerciseModal let-modal>
    <h3 class="text-title" style="background-color: black;">AGREGANDO EJERCICIO</h3>
      <form class="row" [formGroup]="addExerciseForm" (ngSubmit)="saveAddExercise()">
        <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
        <select class="red-btn h-lg" formControlName="exeToAddMuscleGroup">
            <option value="" selected disabled hidden>GRUPO MUSCULAR</option>
            <option *ngFor="let muscleGroup of this.muscleGroupList">
                {{muscleGroup}}
            </option>
        </select>
        <input formControlName="exeToAddName" class="red-btn h-lg" type="text" placeholder=" NOMBRE DE EJERCICIO">
        <input formControlName="exeToAddTipsUrl" class="red-btn h-lg" type="text" placeholder=" URL DE CONSEJOS">
        <input formControlName="exeToAddImgUrl" class="red-btn h-lg" type="text" placeholder=" URL DE IMAGEN GIF">
        <select class="red-btn h-lg" formControlName="exeToAddDifficulty">
            <option value="" selected disabled hidden>DIFICULTAD</option>
            <option *ngFor="let difficulty of this.difficultyList">
                {{difficulty}}
            </option>
        </select>
        <select class="red-btn h-lg"  formControlName="exeToAddGender">
            <option value="" selected disabled hidden>GENERO</option>
            <option *ngFor="let gender of this.genderList">
                {{gender}}
            </option>
        </select>
        <select class="red-btn h-lg"  formControlName="exeToAddElement">
            <option value="" selected disabled hidden>ELEMENTO PRINCIPAL</option>
            <option *ngFor="let element of this.elementList">
                {{element}}
            </option>
        </select>
        <button *ngIf="(
            !validExeToAddName 
            && !validExeToAddTipsUrl 
            && !validExeToAddImgUrl 
            && validExeToAddMuscleGroup 
            && validExeToAddDifficulty 
            && validExeToAddGender 
            && validExeToAddElement)" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
    </form>
</ng-template> 

<ng-template #editExerciseModal let-modal>
    <h3 class="text-title" style="background-color: black;">EDITANDO EJERCICIO {{this.exerciseToEdit.name}}</h3>
      <form class="row" [formGroup]="editExerciseForm" (ngSubmit)="saveEditExercise()">
        <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
        <select class="red-btn h-lg" formControlName="exeToEditMuscleGroup">
            <option selected disabled hidden>GRUPO MUSCULAR</option>
            <option *ngFor="let muscleGroup of this.muscleGroupList">
                {{muscleGroup}}
            </option>
        </select>
        <input formControlName="exeToEditName" class="red-btn h-lg" type="text">
        <input formControlName="exeToEditTipsUrl" class="red-btn h-lg" type="text" placeholder=" URL DE CONSEJOS">
        <input formControlName="exeToEditImgUrl" class="red-btn h-lg" type="text" placeholder=" URL DE IMAGEN GIF">
        <select class="red-btn h-lg" formControlName="exeDifficulty">
            <option value="" selected disabled hidden>DIFICULTAD</option>
            <option *ngFor="let difficulty of this.difficultyList">
                {{difficulty}}
            </option>
        </select>
        <select class="red-btn h-lg" formControlName="exeToEditGender">
            <option value="" selected disabled hidden>GENERO</option>
            <option *ngFor="let gender of this.genderList">
                {{gender}}
            </option>
        </select>

        <select class="red-btn h-lg" formControlName="exeToEditElement">
            <option value="" selected disabled hidden>ELEMENTO PRINCIPAL</option>
            <option *ngFor="let element of this.elementList">
                {{element}}
            </option>
        </select>

        <button *ngIf="(!validExeToEditName && !validExeToEditTipsUrl && !validExeToEditImgUrl)" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
    </form>
</ng-template> 

<ng-template #viewExerciseModal let-modal>
  
    <div class="row" style="background-color:black">
      <button type="button" class="red-btn mb-md" (click)="modal.dismiss('Cross click')">X</button>
      <h3 class="text-title" style="background-color: black;">{{this.exerciseToView.name}}</h3>
      <u>Nombre</u>
      <h5> {{this.exerciseToView.name}}</h5>
      <u>Grupo muscular</u>
      <h5> {{this.exerciseToView.muscleGroup}}</h5>
      <u>Dificultad</u>
      <h5> {{this.exerciseToView.difficulty}}</h5>
      <u>Video tips</u>
      <h5> {{this.exerciseToView.tipsUrl}}</h5>
      <u>Imagen gif</u>
      <h5> {{this.exerciseToView.imgUrl}}</h5>
      <u>Genero</u>
      <h5> {{this.exerciseToView.gender}}</h5>
      <u>Elementos</u>
      <h5> {{this.exerciseToView.element}}</h5>
      <u>Errores comunes</u>
      <h5> {{this.exerciseToView.commonErrors}}</h5>
    </div>
       
  </ng-template> 

  <!-- 

    exeToAddMuscleGroup 
exeToAddName        
exeToAddDifficulty  
exeToAddTipsUrl     
exeToAddImgUrl      
exeToAddGender      
exeToAddElement     
exeToAddCommonErrors

  -->