 
 <section class="container mt-lg">
 <h2 class="text-title">EJERCICIOS <button (click)="open(addExerciseModal)" class="btn red-btn">+</button></h2>
 
 <div class="table-responsive mt-md">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ACCIONES</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">MUSCULOS</th>
            <th scope="col">DIFICULTAD</th>
            <th scope="col">IMAGEN GIF</th>
            <th scope="col">VIDEO</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exercise of this.exerciseList">
            <!--<th scope="row" [textContent]=exercise.id></th>-->
            <td > 
                <button class="btn red-btn">E</button> 
                <button class="btn red-btn ml-sm">X</button>
            </td>
            <td [textContent]=exercise.name></td>
            <td [textContent]=exercise.muscleGroup></td>
            <td [textContent]=exercise.difficulty></td>
            <td [textContent]=exercise.imgUrl></td>
            <td [textContent]=exercise.tipsUrl></td>
            
          </tr>
        
        </tbody>
      </table>
    </div>
</section>

 <ng-template #addExerciseModal let-modal>

    <h3 class="text-title" style="background-color: black;">AGREGANDO EJERCICIO</h3>
      <form class="row" [formGroup]="addExerciseForm" (ngSubmit)="saveAddExercise()">
        <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
        
        <select class="red-btn h-lg"  formControlName="exeMuscleGroup">
            <option value="" selected disabled hidden>GRUPO MUSCULAR</option>
            <option *ngFor="let muscleGroup of this.muscleGroupList">
                {{muscleGroup}}
            </option>
        </select>

        <input formControlName="exeName" class="red-btn h-lg" type="text" placeholder=" NOMBRE DE EJERCICIO">
        <input formControlName="exeTipsUrl" class="red-btn h-lg" type="text" placeholder=" URL DE CONSEJOS">
        <input formControlName="exeImgUrl" class="red-btn h-lg" type="text" placeholder=" URL DE IMAGEN GIF">
        
        <select class="red-btn h-lg" formControlName="exeDifficulty">
            <option value="" selected disabled hidden>DIFICULTAD</option>
            <option *ngFor="let difficulty of this.difficultyList">
                {{difficulty}}
            </option>
        </select>
        
        <select class="red-btn h-lg"  formControlName="exeGender">
            <option value="" selected disabled hidden>GENERO</option>
            <option *ngFor="let gender of this.genderList">
                {{gender}}
            </option>
        </select>

        <button *ngIf="(!validExeName && !validExeTipsUrl && !validExeImgUrl && validExeMuscleGroup && validExeDifficulty && validExeGender)" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
    </form>
</ng-template> 