

<main class="container" style="margin-top: 1.5em;">
        
            <section class="row justify-content-center mt-lg">
                <h2 style="text-align: center;">Hola {{this.studentService.getStudentById(1)?.name}} , tu rutina de hoy:</h2>
                <!--<div *ngFor="let routine of this.routineService.getRoutineListByStudentId(1)">
                    <div *ngFor="let exerciseId of routine.excerciseIdList;index as i" style="display: inline-block;">
                        <button class="btn red-btn">{{i+1}} </button>
                    </div> 
                </div>-->
            </section>

            <section class="row justify-content-center mt-lg">
                <figure class="col-12 home-img container" style="background-image: url('assets/img/gym_gif_1.gif');"></figure>
                <div class="col-12" style="width: 810px;">
                    <div class="row justify-content-center">
                        <button class="red-btn col-5">no lo puedo hacer</button>
                        <div class="col-2"></div>
                        <button class="red-btn col-5">listo!</button>
                    </div>
                </div>    
            </section>

            <section class="row justify-content-center mt-lg">
                <h2 style="text-align: center;">Consejos sobre este ejercicio</h2>
                <iframe class="container" height="512px"
                    src="https://www.youtube.com/embed/azdwsXLmrHE">
                </iframe>
            </section>

            <section class="row justify-content-center mt-xl">
                <h2 style="text-align: center;">Mas ejercicios
                    <button (click)="open(filterModal)"  type="button" class="btn red-btn">
                        Filtrar
                    </button> 
                    <ng-template #filterModal let-modal>
                        <button type="button" class="btn red-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
                            <label class="btn red-btn">
                                <input type="checkbox">
                                femenino
                            </label>
                            <label class="btn red-btn">
                                <input type="checkbox" value="">
                                Masculino
                            </label>
                            <label class="btn red-btn">
                                <input type="checkbox" value="">
                                Etc
                            </label>
                        <button class="btn red-btn">OK</button>
                    </ng-template> 
                </h2>
                
                <div class="mt-lg">
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Pantorrilla</button>
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Pantorrilla</button>
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Gluteos</button>
                </div>
            </section>
        
</main>
 
 



  <!--<div class="col-12">
            <form action="" class="row">
                <div class="form-group mb-md col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                    <h5 for="input_usuario">USUARIO:</h5>
                    <input id="input_usuario" style="background-color: whitesmoke; color: black;" type="email" class="form-control">
                </div>
                <div class="form-group mb-md col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                    <h5 for="input_clave">CLAVE:</h5>
                    <input id="input_clave" style="background-color: whitesmoke; color: black;" type="password" class="form-control"> 
                </div> 
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-2 col-sm-2 col-12">
                    <button type="submit" class="mt-md btn btn-secondary" style="height: 40px;">INGRESAR</button>
                </div>
                      
            </form>
        </div>-->