<div class="home mt-lg mb-lg">
    <header class="row justify-content-center" style="margin-top: 2.5em;">
            <div class="mb-md col-12">
                <img src="assets/img/orion_logo_256_2.png" class="mx-auto d-block red-border-box" style="width: 96px;height: 96px; border-radius: 50%;" alt="">
                
            </div>
            <h2 class="red-border-text text-title col-12" style="margin-top: .25em;">ORION CENTRO PERSONALIZADO</h2>
    </header>
    <main class="row r" style="margin-top: 1.5em;">
        
        
        


        <div class="col-12">

            <section class="container mt-lg">
                <h2 style="text-align: center;">Como estas Fulano? Empecemos!, tu rutina de hoy:</h2>
                <h3 class="btn red-btn">1. Abdominales</h3> 
                <h3 class="btn red-btn">2. Fexiones de brazo</h3>
                <h3 class="btn red-btn">3. Alternados</h3>
                <h3 class="btn red-btn">4. Abdominales</h3>
                <h3 class="btn red-btn">5. Ejercicio sfsdf</h3>
                <h3 class="btn red-btn">6. Ejercicio hgfh</h3>
                <h3 class="btn red-btn">7. Ejercicio fghgfh</h3>
                <h3 class="btn red-btn">8. Ejercicio fghh</h3>
            </section>

            <div class="row justify-content-center">
                <figure class="col-12 home-img container" style="background-image: url('assets/img/gym_gif_1.gif');"></figure>
                <div class="col-12" style="width: 810px;">
                    <div class="row justify-content-center">
                        <button class="red-btn col-5">no lo puedo hacer</button>
                        <div class="col-2"></div>
                        <button class="red-btn col-5">listo!</button>
                    </div>
                </div>    
            </div>

            <section class="container mt-lg">
                <h2 style="text-align: center;">Consejos sobre este ejercicio</h2>
                <iframe class="container" height="512px"
                    src="https://www.youtube.com/embed/azdwsXLmrHE">
                </iframe>
            </section>

            
            <section class="container mt-xl">
                <h2 style="text-align: center;">Mas ejercicios
                    <button (click)="open(filterModal)"  type="button" class="btn red-btn">
                        Filtrar
                    </button> 
                    <ng-template #filterModal let-modal>
                        <button type="button" class="btn red-btn" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
                            <label class="btn red-btn">
                                <input type="checkbox">
                                femenino
                            </label>
                            <label class="btn red-btn">
                                <input type="checkbox" value="">
                                Masculino
                            </label>
                            <label class="btn red-btn">
                                <input type="checkbox" value="">
                                Etc
                            </label>
                        <button class="btn red-btn">OK</button>
                    </ng-template> 
                </h2>
                
                <div class="mt-lg">
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Pantorrilla</button>
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Pantorrilla</button>
                    <button class="btn red-btn">Espalda</button>
                    <button class="btn red-btn">Pecho</button>
                    <button class="btn red-btn">Gluteos</button>
                </div>
                

               
            </section>
        </div>
    
    </main>
 </div>

 



  <!--<div class="col-12">
            <form action="" class="row">
                <div class="form-group mb-md col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                    <h5 for="input_usuario">USUARIO:</h5>
                    <input id="input_usuario" style="background-color: whitesmoke; color: black;" type="email" class="form-control">
                </div>
                <div class="form-group mb-md col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-5 col-12">
                    <h5 for="input_clave">CLAVE:</h5>
                    <input id="input_clave" style="background-color: whitesmoke; color: black;" type="password" class="form-control"> 
                </div> 
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-2 col-sm-2 col-12">
                    <button type="submit" class="mt-md btn btn-secondary" style="height: 40px;">INGRESAR</button>
                </div>
                      
            </form>
        </div>-->