<section class="container mt-lg">
    <h2 class="text-title">PLANES <button (click)="open(addPlanModal)" class="btn red-btn">+</button></h2>
    
    <div class="table-responsive mt-md">
       <table class="table table-dark">
           <thead>
             <tr>
               <th scope="col">NOMBRE</th>
               <th scope="col">PRECIO</th>
               <th scope="col">ACCIONES</th>
               
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let plan of this.planList;">
               <td >{{plan.name}}</td>
               <td >{{plan.price}}</td>
               <td> 
                <button (click)="this.planToEdit=plan;this.createEditPlanForm();open(editPlanModal)" class="btn red-btn">E</button> 
                <button (click)="this.deletePlan(plan)" class="btn red-btn ml-sm">X</button>
            </td>
               
             </tr>
           
           </tbody>
         </table>
       </div>
   </section>
   
    <ng-template #addPlanModal let-modal>
       <h3 class="text-title" style="background-color: black;">AGREGANDO PLAN</h3>
         <form class="row" [formGroup]="addPlanForm" (ngSubmit)="saveAddPlan()">
           <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
          
           <input formControlName="plaToAddName" class="red-btn h-lg" type="text" placeholder=" NOMBRE DEL PLAN">
           <input formControlName="plaToAddPrice" class="red-btn h-lg" type="text" placeholder=" PRECIO MENSUAL">
           <button *ngIf="(
               !validPlaToAddName 
               && !validPlaToAddPrice 
               )" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
       </form>
   </ng-template> 
   
   <ng-template #editPlanModal let-modal>
       <h3 class="text-title" style="background-color: black;">EDITANDO PLAN {{this.planToEdit.name}}</h3>
         <form class="row" [formGroup]="editPlanForm" (ngSubmit)="saveEditPlan()">
           <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
           
           <input formControlName="plaToEditName" class="red-btn h-lg" type="text" placeholder=" NOMBRE DEL PLAN">
           <input formControlName="plaToEditPrice" class="red-btn h-lg" type="text" placeholder=" PRECIO MENSUAL">
           <button *ngIf="(
               !validPlaToEditName 
               && !validPlaToEditPrice 
               )" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
          
       </form>
   </ng-template> 
   
