<div class="home mt-lg mb-lg">
    <header class="row justify-content-center" style="margin-top: 2.5em;">
        <div class="mb-md col-12">
            <img src="assets/img/orion_logo_256_2.png" class="mx-auto d-block red-border-box" style="width: 96px;height: 96px; border-radius: 50%;" alt="">
        </div>
        <h2 class="red-border-text text-title col-12" style="margin-top: .25em;">ORION CENTRO PERSONALIZADO</h2>
    </header>

    <app-navbar></app-navbar>

    <router-outlet></router-outlet>

</div>