<main class="container" style="margin-top: 1.5em;">
    
    <h2 class="text-title">EJERCICIOS PARA {{this.studentByStudentId?.name}} <button (click)="open(addPexerciseModal);this.exerciseList=this.crudService.getRowList('exercises');" class="btn red-btn ml-sm">+</button></h2>
    <section class="row justify-content-center mt-md">
        <!--<h2 style="text-align: center;">Hola {{this.studentByStudentId?.name}}, tu rutina de hoy:</h2>-->
        <div class="row mt-lg">
            
            <div class="row" *ngFor="let pexercise of this.pexerciseList ; let i = index">   
                
                
                <div class="row justify-content-center">
                    <button (click)="showHideToggle(i)" style="text-align: start;" class="btn red-btn col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12" ><h4>{{i+1}} - {{this.getExerciseById(pexercise.exerciseId)?.name}}  <b style="color: greenyellow;" *ngIf="pexercise.isReady"> LISTO!</b></h4> </button>
                    <button *ngIf="pexercise.isReady==false" class="red-btn col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12">no puedo</button>
                    <button *ngIf="pexercise.isReady==false" class="red-btn col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-12" (click)="pexercise.isReady=true;setIsReady(pexercise);hideToggle(i)">listo!</button>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    
                    <button (click)="open(editPexerciseModal)" class="btn red-btn ml-sm">E</button>
                    <button (click)="deletePexercise(pexercise)" class="btn red-btn ml-sm">X</button>
                </div>
                
                <div id="toggle{{i}}" class="mt-md" style="display: none;">
                    
                    <section class="row justify-content-center">
                        <h4 class="text-title">{{this.getExerciseById(pexercise.exerciseId)?.name}}</h4>
                        <figure class="col-12 home-img container" style="background-image: url('{{this.getExerciseById(pexercise.exerciseId)?.imgUrl}}');"></figure>   
                    </section>
                    <section class="row justify-content-center mt-md">
                        <h2 style="text-align: center;">Consejos sobre este ejercicio</h2>
                        <iframe id="iframe{{i}}" class="e2e-iframe-trusted-src" height="512px"    
                        [src]="getUnsafeTipUrlByExerciseId(pexercise.exerciseId) | safe">
                        </iframe>
                        <h1>{{this.videoUrl}}</h1>
                        <button (click)="hideToggle(i)" class="btn red-btn" >↑↑↑ OCULTAR ↑↑↑</button>
                    </section>
                </div>
                <hr class="mt-sm mb-sm">
            </div> 
           
        </div>      
    </section>
</main>

<!-- 

studentId     : string,
excerciseId   : string,
isReady       : boolean
load          : number,
dosage        : string,
time          : number,
restTime      : number,
type          : string,
id?           : string


pexToEditExcerciseId
pexToEditisReady    
pexToEditLoad       
pexToEditDosage     
pexToEditTime       
pexToEditRestTime   
pexToEditType       
-->

<ng-template #addPexerciseModal let-modal>
    <h3 class="text-title" style="background-color: black;">AGREGANDO EJERCICIO PARA {{this.studentByStudentId?.name}}</h3>
      <form class="row" [formGroup]="addPexerciseForm" (ngSubmit)="saveAddPexercise()">
        <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
        <select class="red-btn h-lg" formControlName="pexToAddExerciseId">
            <option value="" selected disabled hidden>EJERCICIO</option>
            <option [value]="exercise.id" *ngFor="let exercise of this.exerciseList">
                {{exercise.name}}
            </option>
        </select>

        <select class="red-btn h-lg" formControlName="pexToAddLoad">
            <option value="" selected disabled hidden>CARGA</option>
            <option *ngFor="let load of this.loadList">
                {{load}}
            </option>
        </select>
       <button (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
    </form>
</ng-template> 

<ng-template #editPexerciseModal let-modal>
    <h3 class="text-title" style="background-color: black;">EDITANDO EJERCICIO PARA {{this.studentByStudentId?.name}}</h3>
      <form class="row" [formGroup]="editPexerciseForm" (ngSubmit)="saveEditPexercise()">
        <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
        <select class="red-btn h-lg" formControlName="pexToEditExerciseId">
            <option value="" selected disabled hidden>EJERCICIO</option>
            <option [value]="exercise.id" *ngFor="let exercise of this.exerciseList">
                {{exercise.name}}
            </option>
        </select>

        <select class="red-btn h-lg" formControlName="pexToEditLoad">
            <option value="" selected disabled hidden>CARGA</option>
            <option *ngFor="let load of this.loadList">
                {{load}}
            </option>
        </select>
       <button (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
    </form>
</ng-template> 