
.r{
  border: red solid 1px;
}

.home-img{
    width: 510px;
    height: 510px;
    background-size:contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 10px;

}

/*margenes*/
.mt-xs { margin-top: .25em; }
.mt-sm { margin-top: .5em; }
.mt-md { margin-top: 1em; }
.mt-lg { margin-top: 2.5em; }
.mt-xl { margin-top: 6em; }
.mb-md { margin-bottom: 1em; }
.mb-lg { margin-bottom: 2.5em; }
.mb-xl { margin-bottom: 6em; }
.mb-sm { margin-bottom: .5em; }
.ml-sm { margin-left: .5em; }
.ml-md { margin-left: 1em; }
.mr-md {margin-left: 1em; }
.mlr-auto{margin-left: auto; margin-right: auto;}
.h-md{height: 1em;}
.h-lg{height: 2.5em;}
.h-xl{height: 6em;}
.h-xxl{height: 1em;}

/*boton-rojo */
.red-btn{
  color: whitesmoke;
  background-color: #000;
  border-radius: 10px;
  border: darkred 2px solid;
  transition: 0.3s;
}

.red-btn:hover,:focus{
  border: whitesmoke 2px solid;
  background-color: #000;
}

.red-box{
  background-color: #000;
  border-radius: 10px;
  border: darkred 2px solid;
}
/* borde neon rojo*/
.red-border-box{
  box-shadow:0 0 5px #fff,
  0 0 10px #fff,
  0 0 20px rgb(255, 0, 0),
  0 0 40px rgb(255, 0, 0),
  0 0 80px rgb(255, 0, 0);
}

.text-title{
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-top: auto;
  margin-bottom: auto;
}

.red-border-text{

  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px rgb(255, 0, 0),
    0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0);
}

.hide{
  display: none;
}
.show{
  display: block;
}
/*!
 grid boostrap--------------------------------------------------------------------------------------------------------
 */
