 
 <section class="container mt-lg">
    <h2 class="text-title">CUOTAS DE {{this.studentByStudentId?.name}} 
        <button (click)="open(addPayModal);this.planList=this.crudService.getRowList('plans');" class="btn red-btn ml-sm">ACTUALIZAR PLAN</button>
        <button class="btn red-btn ml-sm">DAR DE BAJA</button>
    </h2>
    
    <div class="table-responsive mt-md">
       <table class="table table-dark">
           <thead>
             <tr>
                <th scope="col">PLAN</th>
                <th scope="col">PRECIO</th>
                <th scope="col">FECHA DE PAGO</th>
                <th scope="col">ESTADO</th>
                <th scope="col">ACCIONES</th>  
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let pay of this.payList;index as i">
                
                <td>{{this.getPlanById(pay.planId)?.name}}</td>
                <td>{{this.getPlanById(pay.planId)?.price}}</td>
                <td>{{pay.payDate | date:'short'}}</td>
                <td>{{this.getPayState(pay)}}</td>
                <td> 
                
                   <button *ngIf="!pay.isPaid" (click)="this.cancelPay(pay)" class="btn red-btn ml-sm">CANCELAR</button>

               </td>
               
             </tr>
           
           </tbody>
         </table>
       </div>
   </section>
   
    <ng-template #addPayModal let-modal>
       <h3 class="text-title" style="background-color: black;">AGREGANDO PLAN MENSUAL</h3>
         <form class="row" [formGroup]="addPayForm" (ngSubmit)="saveAddPay()">
           <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
            <select class="red-btn h-lg" formControlName="payToAddPlanId">
                <option value="" selected disabled hidden>PLAN</option>
                <option [value]="plan.id" *ngFor="let plan of this.planList">
                    {{plan.name}} - {{plan.price}} 
                </option>
            </select>
           <button *ngIf="(validPayToAddPlanId)" 
                    (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
       </form>
   </ng-template> 
   