 
 <section class="container mt-lg">
    <h2 class="text-title">CUOTAS DE {{this.studentByStudentId?.name}} <button (click)="open(addPayModal);this.planList=this.crudService.getRowList('plans');" class="btn red-btn ml-sm">ACTUALIZAR PLAN</button></h2>
    
    <div class="table-responsive mt-md">
       <table class="table table-dark">
           <thead>
             <tr>
                <th scope="col">PLAN</th>
                <th scope="col">PRECIO</th>
                <th scope="col">FECHA DE PAGO</th>
                <th scope="col">ESTADO</th>
                <th scope="col">ACCIONES</th>  
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let pay of this.payList">
                
                <td>{{this.getPlanById(pay.planId)?.name}}</td>
                <td>{{this.getPlanById(pay.planId)?.price}}</td>
                <td>{{pay.payDate}}</td>
                <td>{{pay.state}}</td>
                <td> 
                   si no esta cancelado<button (click)="this.payToEdit=pay;this.createEditPayForm();open(editPayModal)" class="btn red-btn">E</button> 
                   <button (click)="this.cancelPay(pay)" class="btn red-btn ml-sm">X</button>

               </td>
               
             </tr>
           
           </tbody>
         </table>
       </div>
   </section>
   
    <ng-template #addExerciseModal let-modal>
       <h3 class="text-title" style="background-color: black;">AGREGANDO EJERCICIO</h3>
         <form class="row" [formGroup]="addExerciseForm" (ngSubmit)="saveAddExercise()">
           <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
           <select class="red-btn h-lg" formControlName="exeToAddMuscleGroup">
               <option value="" selected disabled hidden>GRUPO MUSCULAR</option>
               <option *ngFor="let muscleGroup of this.muscleGroupList">
                   {{muscleGroup}}
               </option>
           </select>
           <input formControlName="exeToAddName" class="red-btn h-lg" type="text" placeholder=" NOMBRE DE EJERCICIO">
           <input formControlName="exeToAddTipsUrl" class="red-btn h-lg" type="text" placeholder=" URL DE CONSEJOS">
           <input formControlName="exeToAddImgUrl" class="red-btn h-lg" type="text" placeholder=" URL DE IMAGEN GIF">
           <select class="red-btn h-lg" formControlName="exeToAddDifficulty">
               <option value="" selected disabled hidden>DIFICULTAD</option>
               <option *ngFor="let difficulty of this.difficultyList">
                   {{difficulty}}
               </option>
           </select>
           <select class="red-btn h-lg"  formControlName="exeToAddGender">
               <option value="" selected disabled hidden>GENERO</option>
               <option *ngFor="let gender of this.genderList">
                   {{gender}}
               </option>
           </select>
           <select class="red-btn h-lg"  formControlName="exeToAddElement">
               <option value="" selected disabled hidden>ELEMENTO PRINCIPAL</option>
               <option *ngFor="let element of this.elementList">
                   {{element}}
               </option>
           </select>
           <button *ngIf="(
               !validExeToAddName 
               && !validExeToAddTipsUrl 
               && !validExeToAddImgUrl 
               && validExeToAddMuscleGroup 
               && validExeToAddDifficulty 
               && validExeToAddGender 
               && validExeToAddElement)" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
       </form>
   </ng-template> 
   
   <ng-template #editExerciseModal let-modal>
       <h3 class="text-title" style="background-color: black;">EDITANDO EJERCICIO {{this.exerciseToEdit.name}}</h3>
         <form class="row" [formGroup]="editExerciseForm" (ngSubmit)="saveEditExercise()">
           <button type="button" class="red-btn" (click)="modal.dismiss('Cross click')">X</button>
           <select class="red-btn h-lg" formControlName="exeToEditMuscleGroup">
               <option selected disabled hidden>GRUPO MUSCULAR</option>
               <option *ngFor="let muscleGroup of this.muscleGroupList">
                   {{muscleGroup}}
               </option>
           </select>
           <input formControlName="exeToEditName" class="red-btn h-lg" type="text">
           <input formControlName="exeToEditTipsUrl" class="red-btn h-lg" type="text" placeholder=" URL DE CONSEJOS">
           <input formControlName="exeToEditImgUrl" class="red-btn h-lg" type="text" placeholder=" URL DE IMAGEN GIF">
           <select class="red-btn h-lg" formControlName="exeDifficulty">
               <option value="" selected disabled hidden>DIFICULTAD</option>
               <option *ngFor="let difficulty of this.difficultyList">
                   {{difficulty}}
               </option>
           </select>
           <select class="red-btn h-lg"  formControlName="exeToEditGender">
               <option value="" selected disabled hidden>GENERO</option>
               <option *ngFor="let gender of this.genderList">
                   {{gender}}
               </option>
           </select>
   
           <select class="red-btn h-lg"  formControlName="exeToEditElement">
               <option value="" selected disabled hidden>ELEMENTO PRINCIPAL</option>
               <option *ngFor="let element of this.elementList">
                   {{element}}
               </option>
           </select>
   
           <button *ngIf="(!validExeToEditName && !validExeToEditTipsUrl && !validExeToEditImgUrl)" (click)="modal.close('Save click')" type="submit"  class="btn red-btn">LISTO</button>
       </form>
   </ng-template> 
   
   <ng-template #viewExerciseModal let-modal>
     
       <div class="row" style="background-color:black">
         <button type="button" class="red-btn mb-md" (click)="modal.dismiss('Cross click')">X</button>
         <h3 class="text-title" style="background-color: black;">{{this.exerciseToView.name}}</h3>
         <u>Nombre</u>
         <h5> {{this.exerciseToView.name}}</h5>
         <u>Grupo muscular</u>
         <h5> {{this.exerciseToView.muscleGroup}}</h5>
         <u>Dificultad</u>
         <h5> {{this.exerciseToView.difficulty}}</h5>
         <u>Video tips</u>
         <h5> {{this.exerciseToView.tipsUrl}}</h5>
         <u>Imagen gif</u>
         <h5> {{this.exerciseToView.imgUrl}}</h5>
         <u>Genero</u>
         <h5> {{this.exerciseToView.gender}}</h5>
         <u>Elementos</u>
         <h5> {{this.exerciseToView.element}}</h5>
         <u>Errores comunes</u>
         <h5> {{this.exerciseToView.commonErrors}}</h5>
       </div>
          
     </ng-template> 
   
     <!-- 
   
       exeToAddMuscleGroup 
   exeToAddName        
   exeToAddDifficulty  
   exeToAddTipsUrl     
   exeToAddImgUrl      
   exeToAddGender      
   exeToAddElement     
   exeToAddCommonErrors
   
     -->